<!-- <p>{{ processing }}</p> -->
<div id="main">
  <div id="title">
    <h1>Resize for Livecharts</h1>
  </div>
  <div
    id="drop_zone"
    (drop)="dropHandler($event)"
    (dragover)="dragOverHandler($event)"
  >
    <p>Drop images here...</p>
  </div>
  <div id="error" *ngIf="error">
    {{ error }}
  </div>
  <div id="file-list" *ngIf="images && images.length > 0">
    <h2 class="header">Originals</h2>
    <div class="file" *ngFor="let image of images">
      <img *ngIf="image.src" class="thumb" [src]="image.src" />
      <p>{{ image.name }}</p>
      <p>
        {{ image.img ? '' + image.width + ' x ' + image.height : null }}
      </p>
    </div>
  </div>
  <div id="controls" *ngIf="images && images.length > 0">
    <h2 class="header">Controls</h2>
    <div>
      <label for="width"
        ><span>Width: </span>
        <input
          name="width"
          type="number"
          [formControl]="width"
          (change)="widthChanged()"
        />
      </label>
    </div>
    <div>
      <label for="height"
        ><span>Height: </span>
        <input
          name="height"
          type="number"
          [formControl]="height"
          (change)="heightChanged()"
        />
      </label>
    </div>
    <div id="radios">
      <label><span>Crop square:</span></label>
      <label>
        <input
          type="radio"
          value="none"
          [formControl]="crop"
          (change)="cropChanged()"
        />
        None
      </label>
      <label>
        <input
          type="radio"
          value="left"
          [formControl]="crop"
          (change)="cropChanged()"
        />
        Left/Top
      </label>
      <label>
        <input
          type="radio"
          value="center"
          [formControl]="crop"
          (change)="cropChanged()"
        />
        Center
      </label>
      <label>
        <input
          type="radio"
          value="right"
          [formControl]="crop"
          (change)="cropChanged()"
        />
        Right/Bottom
      </label>
    </div>
    <div>
      <button (click)="doTheBusiness()">Go!</button>
      <button (click)="reset()">Reset!</button>
    </div>
  </div>
  <div id="file-list" *ngIf="images && images.length > 0">
    <h2 class="header">Modified</h2>
    <div class="file" *ngFor="let image of images">
      <img *ngIf="image.newSrc" class="thumb" [src]="image.newSrc" />
      <p>{{ image.name }}</p>
      <p>
        {{
          image.img
            ? '' + image.img.bitmap.width + ' x ' + image.img.bitmap.height
            : null
        }}
      </p>
    </div>
  </div>
  <div *ngIf="images && images.length > 0" id="download">
    <button (click)="download()">Download</button>
  </div>
  <div *ngIf="processing" class="overlay">
    <div class="window">
      Processing, please wait
    </div>
  </div>
</div>
